html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.lista {
    list-style: none;
    /* elimina los bullets */
    padding: 0;
    /* quita padding por defecto del <ul> */
    margin: 0;
    /* quita margen por defecto del <ul> */
}

.lista a {
    display: block;
    /* Hace que cada enlace ocupe toda la línea, clic fácil en móvil */
    text-align: center;
    /* Centra el texto */
    padding: 0.2em 1em;
    /* Espacio interno: 0.2em arriba/abajo, 1em izquierda/derecha */
    margin: 0.2em 0;
    /* Separación entre enlaces: 0.2em arriba y abajo */
    background-color: var(--bg-listas);
    /* Color de fondo gris claro */
    text-decoration: none;
    /* Quita el subrayado del enlace */
    color: var(--texto);
    /* Color del texto gris oscuro */
    border-radius: 4px;
    /* Esquinas ligeramente redondeadas */
    transition: background 0.2s;
    /* Transición suave de 0.2s al cambiar el fondo (hover) */
}

.lista_jml a {
    padding: 1em 1em;
}


.lista a:hover {
    background-color: var(--hover-lista);
    /* Cambia el fondo al pasar el cursor */
}

.bateria-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
    justify-items: center;
}

pre {
    font-size: 16px;
    line-height: 1.2;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

pre .estribillo {
    font-weight: bold;
    color: var(--estribillo);
}

pre .puente {
    font-weight: bold;
    color: var(--puente);
}

pre .solo {
    font-weight: bold;
    color: var(--solo);
}

pre .gr {
    color: var(--acorde-gr);
    text-decoration: underline;
    text-decoration-style: double;
}

pre .ag {
    color: var(--acorde-ag);
    text-decoration: overline;
}

pre .letra {
    font-style: italic;
    color: var(--letra);
}

.cancion-header .numeros {
    min-width: 80px;
    font-size: 1rem;
    text-align: left;
}

.cancion-header .titulo {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
}

.cancion-header .tono {
    flex: 1 0 100%;
    min-width: 80px;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 4px;
}